.page-header {
  position: relative;
  background-color: $hero-color;
  border-bottom: 1px solid $button-color;
}

.header-container {
  outline: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  // max-width: 1200px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // nie rabotaet?
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.site-nav {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.contacts {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
